<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Discover Places</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment value="all" (ionChange)="onFilterUpdate($event)">
    <ion-segment-button value="all">All Places</ion-segment-button>
    <ion-segment-button value="bookable">Bookable Places</ion-segment-button>
  </ion-segment>
  <ion-grid>
    <ion-row>
      <ion-col [size]="12" [sizeSm]="8" [offsetSm]="2" class="ion-text-center">
        <ion-card>
          <ion-card-header>
            <ion-card-title> {{ loadedPlaces[0].title }} </ion-card-title>
            <ion-card-subtitle>{{ loadedPlaces[0].price | currency }} / Night</ion-card-subtitle>
          </ion-card-header>
          <ion-img [src]="loadedPlaces[0].image"></ion-img>
          <ion-card-content>
            <p>{{ loadedPlaces[0].description }}</p>
            Keep close to Nature's heart... and break clear away, once in awhile,
            and climb a mountain or spend a week in the woods. Wash your spirit clean.
          </ion-card-content>
           <div>
             <ion-button fill="clear" color="primary" [routerLink]="[loadedPlaces[0].id]">
              Detail
             </ion-button>
           </div>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [size]="12" [sizeSm]="8" [offsetSm]="2">
        <ion-virtual-scroll [items]="listedLoadedPlaces" approxItemHeight="80px">
          <ion-item *virtualItem="let place" [routerLink]="[place.id]" detail>
            <ion-thumbnail slot="start">
              <ion-img [src]="place.image"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2>{{ place.title }}</h2>
              <h3>{{ place.location }}</h3>
              <p>{{ place.description }}</p>
            </ion-label>
          </ion-item>
        </ion-virtual-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
