<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['new']">
        <ion-icon name="add" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-vertical">
  <ion-grid>
    <ion-row>
      <ion-col [size]="12" [sizeSm]="8" [offsetSm]="2">
        <div class="ion-text-center" *ngIf="isLoading">
          <ion-spinner color="primary"></ion-spinner>
        </div>
        <div class="ion-text-center" *ngIf="!isLoading && !loadedOffers.length">
          <p> No offers added. Try adding some! </p>
          <ion-button color="primary" [routerLink]="['new']">Add New Offer</ion-button>
        </div>
        <ion-list *ngIf="!isLoading && loadedOffers.length">
          <ion-item-sliding *ngFor="let offer of loadedOffers" #slidingItem [disabled]="userId !== offer.userId">
            <app-offer-item [offer]="offer"></app-offer-item>
            <ion-item-options>
              <ion-item-option color="primary" (click)="onEdit(offer.id, slidingItem)">
                <ion-icon name="create" slot="icon-only"></ion-icon>
              </ion-item-option>
              <ion-item-option color="danger" (click)="onDelete(offer.id, slidingItem)">
                <ion-icon name="trash" slot="icon-only"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
