<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()" [disabled]="form.invalid">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked" autofocus="true">Title</ion-label>
            <ion-input formControlName="title" type="text" required autocomplete autocorrect></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">Short Description</ion-label>
            <ion-textarea formControlName="description" type="text" rows="3" required autocomplete autocorrect></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">Price</ion-label>
            <ion-input formControlName="price" type="number" required inputmode="decimal"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="form.get('price').invalid && form.get('price').touched">
        <ion-col size-sm="6" offset-sm="3">
          <p>Price should be greater than 0.</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label position="stacked">Available from</ion-label>
            <ion-datetime formControlName="fromDate" min="2020-01-01" max="2025"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size-sm="3">
          <ion-item>
            <ion-label position="stacked">Available to</ion-label>
            <ion-datetime formControlName="toDate" min="2020-01-02" max="2025"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <ion-button color="secondary" (click)="onAddOffer()">Add</ion-button> -->
</ion-content>
